
/*%%%%%%%%%%%%%%%%%%%%%  Medium devices (tablets, less than 992px)  %%%%%%%%%%%%%%%%%%%%%*/
@media (max-width: 992px) {
    /*=======+++++++=======  INDEX PRODUCTS  =======+++++++=======*/

    #index .product_container {
        padding: 0 7rem;
    }

    /*=======+++++++=======  SIDEBAR  =======+++++++=======*/
    #mega_nav {
        background-color: #fff;
        z-index: var(--z-index-1);
    }
    #mega_nav .item_center {
        order: 3;
        flex: 0 0 100%;
    }
    #mega_nav .item_left {
        flex: 0 0 25%;
    }
    #mega_nav .item_right {
        flex: 0 0 100%;
        align-items: flex-end;
    }

    #mega_nav .v_center {
        justify-content: space-between;
    }
    #mega_nav .menu {
        position: fixed;
        width: 320px;
        height: 100%;
        left: 0;
        top: 45px;
        background: rgba(0, 0, 0, .9);
        overflow: hidden;
        transform: translate(-100%);
        transition: all .3s ease;
        z-index: var(--z-index-1);
    }
    #mega_nav .menu.active {
        transform: translate(0%);
        box-shadow: 0 0 15px #ccc;
    }
    #mega_nav .menu .menu_main {
        height: 100vh;
        overflow-x: auto;
        overflow-y: auto!important;
    }

    #mega_nav .mobile_menu_head {
        display: flex;
        height: 40px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        position: sticky;
        background: darkred;
        top: 0;
        z-index: 2;
    }
    #mega_nav .mobile_menu_head .go_back {
        width: 50px;
        height: 50px;
        border-right: 1px solid rgba(0, 0, 0, .1);
        cursor: pointer;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        display: none;
        justify-content: center;
        align-items: center;
    }
    #mega_nav .mobile_menu_head.active .go_back {
        display: flex;
    }
    #mega_nav .mobile_menu_head .current_menu_title {
        font-size: 17px;
        font-weight: 500;
        color: #ffffff;
        text-transform: uppercase;
    }
    #mega_nav .mobile_menu_head .mobile_menu_close {
        width: 50px;
        height: 50px;
        border-left: 1px solid rgba(0, 0, 0, .1);
        cursor: pointer;
        text-align: center;
        color: #ffffff;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mega_nav .mobile_menu_trigger {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        cursor: pointer;
    }
    #mega_nav .mobile_menu_trigger span {
        position: relative;
        display: block;
        height: 2px;
        background-color: #333333;
        width: 24px;
    }
    #mega_nav .mobile_menu_trigger span:before,
    #mega_nav .mobile_menu_trigger span:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: #333333;
    }
    #mega_nav .mobile_menu_trigger span:before {
        top: -6px;
    }
    #mega_nav .mobile_menu_trigger span:after {
        top: 6px;
    }

    #mega_nav .menu > ul > li {
        line-height: 1;
        margin: 0;
        display: block;
    }
    #mega_nav .menu > ul > li > a {
        height: 50px;
        padding: 0 50px 0 15px;
        display: block;
        line-height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        color: #ffffff;
    }
    #mega_nav .menu > ul > li > a span {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        right: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mega_nav .menu > ul > li > a span svg {
        transform: rotate(-90deg);
        transition: all .3s ease;
    }
    #mega_nav .menu > ul > li > a:hover span svg {
        transform: scale(1.3) rotate(-90deg) translateY(-.7rem);
    }

    #mega_nav .menu ul li .sub_menu > ul > li,
    #mega_nav .menu ul li .sub_menu.mega_menu > .list_item > ul > li {
        margin: 0;
    }
    #mega_nav .menu ul li .sub_menu.mega_menu,
    #mega_nav .menu > ul > li .sub_menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 60px 15px 15px;
        box-shadow: none;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
        opacity: 1;
        visibility: visible;
    }
    #mega_nav .menu > ul > li ::-webkit-scrollbar {
        width: 0;
        background: transparent; /* make scrollbar transparent */
    }
    #mega_nav .menu > ul > li .sub_menu.active {
        z-index: 1;
        display: block;
    }

    @keyframes slide_left {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    @keyframes slide_right {
        0% {
            opacity: 1;
            transform: translateX(0%);
        }
        100% {
            opacity: 1;
            transform: translateX(100%);
        }
    }

    #mega_nav .menu > ul > li .sub_menu.mega_menu_column_4 > .list_item img {
        margin-top: 0;
    }
    #mega_nav .menu ul li .sub_menu.mega_menu_column_4 > .list_item.text-center .title {
        margin-bottom: 1rem;
    }
    #mega_nav .menu ul li .sub_menu.mega_menu_column_4 > .list_item .title {
        font-size: 1.1rem;
        margin-bottom: 0;
    }
    #mega_nav .menu ul li .sub_menu.mega_menu_column_4 > .list_item ul li:last-child a {
        margin-bottom: 1rem;
    }
    #mega_nav .menu ul li .sub_menu.mega_menu_column_4 > .list_item ul li a {
        font-size: var(--font-size-small);
    }
    #mega_nav .menu > ul > li .sub_menu.mega_menu_column_4 > .list_item {
        display: block;
        padding: 0;
    }
    #mega_nav .menu ul li .sub_menu.mega_menu > .list_item > ul > li a {
        display: block;
    }
    #mega_nav .menu ul li .sub_menu.mega_menu > .list_item > ul > {
        margin-bottom: 15px;
    }

    #mega_nav .menu_overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, .5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease;
    }
    #mega_nav .menu_overlay.active {
        visibility: visible;
        opacity: 1;
    }



    /*=======+++++++=======  PRODUCTS  =======+++++++=======*/

    #products .products_container {
        padding: 0 3rem;
    }
    #products #product_section #results {
        grid-template-columns: 1fr 1fr 1fr;
    }
}



/*%%%%%%%%%%%%%%%%%%%%%  Small devices (landscape phones, less than 768px)  %%%%%%%%%%%%%%%%%%%%%*/
@media (max-width: 768px) {
    /*=======+++++++=======  INDEX PRODUCTS  =======+++++++=======*/

    #index .product_container {
        padding: 0 2rem;
    }
}



/*%%%%%%%%%%%%%%%%%%%%%  Extra small devices (portrait phones, less than 576px)  %%%%%%%%%%%%%%%%%%%%%*/
@media (max-width: 576px) {
    /*=======+++++++=======+++++++=======  GENERAL  =======+++++++=======+++++++=======*/
    #global_alert {
        right: .3rem;
        font-size: var(--font-size-tiny);
        padding: .5rem 1.5rem .5rem .5rem;
    }
    #global_alert strong {
        font-size: var(--font-size-small);
    }
    #global_alert button {
        padding: .5rem;
        font-size: var(--font-size-big);
    }


    .breadcrumb {
        height: 1.7rem;
        margin-bottom: .5rem;
        padding: .3rem .7rem;
        font-size: var(--font-size-tiny);
    }

    .carousel-indicators {
        z-index: 1;
    }

    /*=======+++++++=======+++++++=======  HEADER  =======+++++++=======+++++++=======*/
    #top_header .top_header {
        padding: 0 1rem;
        z-index: var(--z-index-2);
    }
    #top_header .top_header div.dropdown-menu {
        position: absolute;
        font-size: var(--font-size-small);
    }

    /*=======+++++++=======+++++++=======  HEADER CAROUSEL  =======+++++++=======+++++++=======*/
    #header_carousel .header_carousel {
        padding: 0 1rem;
        height: 20vh;
    }
    #header_carousel .header_carousel img {
        height: 20vh;
    }


    /*=======+++++++=======+++++++=======  HOME  =======+++++++=======+++++++=======*/
    #index .product_container {
        padding: 0 .5rem;
    }

    /*=======+++++++=======+++++++=======  BOX SECTION  =======+++++++=======+++++++=======*/
    .box_section {
        margin-bottom: 0;
        padding: .7rem .3rem!important;
    }
    .box_section a {
        height: 5rem;
    }
    .box_section .card-title {
        font-size: var(--font-size-normal);
    }
    .box_section .card-text {
        font-size: var(--font-size-tiny);
    }

    /*=======+++++++=======+++++++=======  INDEX PRODUCTS  =======+++++++=======+++++++=======*/
    #index .product_container {
        padding: 0 .5rem;
    }
    #index .section_title {
        padding: .5rem 1rem;
        margin: 0;
        background: linear-gradient(to bottom left, rgb(110, 135, 246) , rgba(241, 241, 241, .7));
    }
    #index h6.card-title,
    #index .section_title h3 {
        font-size: var(--font-size-normal);
    }
    #products .prices,
    #index .prices,
    #index .section_title p {
        font-size: var(--font-size-small);
    }
    #index .swiper-slide {
        width: 10rem!important;
    }
    #index .products .card img {
        height: 10rem;
    }
    #index .card-body {
        height: 4.5rem;
    }
    #index .card-body .button .add,
    #index .products .card .supplier {
        opacity: .7;
        font-size: var(--font-size-tiny);
    }

    #index .card-body .button {
        padding-left: 0;
    }

    /***  INDEX PRODUCT LABEL  ***/
    #index .product_label {
        font-size: 7pt;
        font-weight: 300;
    }

    .rotating-img {
        padding: 0;
    }
    .rotating-img img {
        width: 10rem;
        height: 10rem;
    }


    /*=======+++++++=======+++++++=======  PRODUCTS  =======+++++++=======+++++++=======*/

    #products .products_container {
        padding: 0 2rem;
    }
    #products .card-body .button .add,
    #products .input-group label,
    #checkout .card.address .input-group-append a,
    #checkout .card.address .input-group label,
    #checkout .card.address .input-group .custom-select,
    #cart .coupon span,
    #cart .coupon input,
    #cart .coupon button,
    #details .quantity span,
    #details .quantity input,
    #products .input-group .input-group-prepend,
    #products .input-group .custom-select {
        height: 1.7rem;
        font-size: var(--font-size-tiny);
    }
    #products .input-group .custom-select {
        padding: .2rem 1.7rem .2rem .5rem;
    }
    #products #textChange {
        font-size: var(--font-size-normal);
    }
    #products .top-info .col.bg-light {
        padding: .5rem!important;
    }
    #products .top-info p.text-muted {
        font-size: var(--font-size-small);
    }
    #products .top-info hr {
        margin: 0;
    }
    #products .top-info p.col {
        font-size: var(--font-size-small);
        margin-bottom: 2rem;
    }
    #products .sort {
        position: absolute;
        display: flex;
        bottom: -.7rem;
        right: -.7rem;
    }

    #products #product_section #results {
        grid-template-columns: 1fr 1fr;
    }
    #products_like .card img,
    #products .card img {
        height: 10rem;
    }
    #products_like .card-body,
    #products #product_section .card-body {
        height: 6rem;
    }
    #products .card-body h6 {
        font-size: var(--font-size-small);
        height: 2rem;
    }
    #products_like .card-body .brand-name,
    #products .card-body .brand-name {
        font-size: var(--font-size-tiny);
    }
    #products_like .card-body .prices del,
    #products .prices del {
        font-size: 7pt;
        position: absolute;
        right: 0;
    }

    /*+++++++*+++++++*+++++++  Product Label  +++++++*/
    #products_like .product_label,
    #products .product_label {
        font-size: 7pt;
        font-weight: 300;
    }

    /*=======+++++++=======+++++++=======  CATEGORIES SIDEBAR  =======+++++++=======+++++++=======*/
    #categories_sidebar {
        position: fixed;
        left: 1rem;
        top: 4rem;
        width: 80%;
        z-index: var(--z-index-1);
    }
    #categories_sidebar .filters-header .fa-filter {
        margin-bottom: .5rem;
    }
    #categories_sidebar .search_text,
    #categories_sidebar .form-check.sub_list label,
    #categories_sidebar .form-check.list label {
        font-size: var(--font-size-small);
    }
    #categories_sidebar li a.btn-block {
        font-size: var(--font-size-normal);
    }

    /*=======+++++++=======+++++++=======  DETAILS  =======+++++++=======+++++++=======*/
    #details .details .variations h5,
    #details .details .variations ul li,
    #details .details .price,
    #details .details button.btn-success,
    #details .details .card-footer h4,
    #products_like .like_title h3,
    #details .details .card-title h3 {
        font-size: var(--font-size-normal);
    }
    #details .details .brand-name,
    #details .details .card-title p {
        font-size: var(--font-size-tiny);
    }
    #checkout .custom-radio,
    #details .details .variations ul li .custom-radio {
        transform: scale(.9);
    }
    #details .details .variations {
        min-height: 0;
    }
    #details .details .price del {
        position: absolute;
        right: 5rem;
        top: 1rem;
        font-size: var(--font-size-tiny);
    }
    #details .details .card-footer {
        height: 100%;
    }
    #details .details .card-footer p {
        font-size: var(--font-size-small);
    }

    /*  Products you may like  */
    #details .product-info nav a {
        font-size: var(--font-size-small);
        padding: .3rem .5rem;
    }
    #products_like .like_title .col {
        margin-bottom: 0;
    }
    #products_like #results {
        grid-template-columns: 1fr 1fr;
    }
    #products_like .card {
        margin: .3rem;
    }

    /*=======+++++++=======+++++++=======  CART  =======+++++++=======+++++++=======*/
    #cart .cart_page_container {
        padding: 0 1rem;
    }
    #cart .cart_table h1 {
        font-size: var(--font-size-big);
        margin-bottom: 0;
    }
    #cart .cart_table p.text-muted {
        font-size: var(--font-size-tiny);
        margin-bottom: .5rem;
    }
    #profile .orders .table thead > tr > th,
    #checkout .card.cart .table thead > tr > th,
    #cart .cart_table .table_fixed thead > tr > th {
        font-size: var(--font-size-tiny);
    }
    #profile .orders .table tbody tr th,
    #profile .orders .table tbody tr td,
    #checkout .card.cart .table tbody tr th,
    #checkout .card.cart .table tbody tr td,
    #cart .cart_table .table tbody tr th,
    #cart .cart_table .table tbody tr td {
        font-size: var(--font-size-tiny);
    }
    #checkout .card.cart .table tr td img,
    #cart .cart_table .table tr td img {
        width: 1.5rem;
        max-height: 1.7rem
    }
    #cart .cart_table .table tbody tr td.quantity input {
        padding: 0 0;
        width: 2rem;
        height: 1rem;
        font-size: var(--font-size-tiny);
    }
    #cart .cart_table .table tbody tr td.quantity button {
        width: 1rem;
        height: 1rem;
    }
    #cart .cart_table .table tbody tr td.quantity button.nice-number-button-plus,
    #cart .cart_table .table tbody tr td.quantity button.nice-number-button-minus {
        font-size: var(--font-size-tiny);
    }
    #cart .cart_table .table tbody tr td.quantity button.nice-number-button-plus {
        padding: 0;
    }
    #checkout .card.cart .table tfoot th,
    #cart .cart_table .table tfoot th {
        font-size: var(--font-size-tiny);
        font-weight: 300;
    }
    #cart .coupon form {
        margin: 0;
    }
    #cart .coupon button {
        padding: .2rem .7rem;
    }
    #order_summary p,
    #cart .box_footer .btn-outline-success,
    #cart .box_footer .btn-outline-dark {
        font-size: var(--font-size-small);
    }
    #order_summary h3 {
        font-size: var(--font-size-bigger);
    }

    /*=======+++++++=======+++++++=======  CHECKOUT  =======+++++++=======+++++++=======*/
    #checkout .card.address h3 {
        font-size: var(--font-size-bigger);
    }
    #checkout .card.payment .card-header h5,
    #checkout .card.cart .card-header h5,
    #checkout .card.address th h5 {
        font-size: var(--font-size-normal);
    }
    #checkout .card.address th a {
        padding: .3rem .5rem;
        font-size: var(--font-size-tiny);
    }
    #checkout .card.address td {
        padding: .3rem 0;
    }
    #checkout .card.address .custom {
        height: 1.7rem;
        font-size: var(--font-size-tiny);
        padding: .5rem;
    }
    #checkout .card.payment .col {
        font-size: var(--font-size-small);
    }
    #checkout .card.payment img {
        width: 7rem;
        height: 3rem;
    }
    #checkout .card.payment .pay-buttons a {
        display: flex;
        align-items: center;
        height: 2rem;
        font-size: var(--font-size-small);
    }
    #checkout .card.payment .place .btn {
        font-size: var(--font-size-small);
    }

    /*=======+++++++=======+++++++=======  CONTACT US  =======+++++++=======+++++++=======*/
    #profile .profile_header h2,
    #contact_us .contact_header h2 {
        font-size: var(--font-size-bigger);
    }
    #contact_us .info_card p {
        padding: 1rem 3rem 0 2rem;
        font-size: var(--font-size-small);
    }
    #contact_us .info_card .info_row {
        font-size: var(--font-size-tiny);
    }
    #contact_us .info_card .info_icon {
        width: 2rem;
        height: 2rem;
    }

    /*=======+++++++=======+++++++=======  PROFILE  =======+++++++=======+++++++=======*/
    #profile .profile-image img {
        height: 7rem;
        width: 7rem;
        margin: .4rem .2rem;
    }
    figcaption h5 {
        font-size: var(--font-size-small);
        text-align: center;
    }
    #profile .card-header h3 {
        font-size: var(--font-size-big);
    }
    #profile .card-header hr {
        margin: .5rem .5rem 0;
    }
    #profile .phones > label,
    #profile .addresses > label {
        margin-bottom: .5rem;
        padding: 0!important;
        height: 1.7rem!important;
    }
    #profile .addresses label a,
    #profile .phones label a {
        font-size: var(--font-size-tiny);
    }
    #profile .addresses label,
    #profile .addresses span,
    #profile .phones label,
    #profile .phones span {
        font-size: var(--font-size-tiny);
        height: 2rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    #profile .orders .head h1 {
        font-size: var(--font-size-bigger);
        margin-bottom: 0;
    }
    #profile .orders .head p {
        font-size: var(--font-size-small);
        margin-bottom: .5rem;
    }

    /*=======+++++++=======+++++++=======  SOCIAL ICONS  =======+++++++=======+++++++=======*/
    #social_icons {
        z-index: 5;
        transform: translate(-8rem, 0);
    }
    #social_icons a {
        width: 10rem;
        font-size: .7rem;
        font-weight: 300;
        padding: .3rem;
    }
    #social_icons a:hover {
        transform: translate(4rem, 0);
    }
    #social_icons i {
        padding-top: .1rem;
        font-size: 1rem;
        width: 1.2rem;
        height: 1.2rem;
    }


    /*=======+++++++=======+++++++=======  FOOTER  =======+++++++=======+++++++=======*/
    .main_footer .row {
        padding: 0;
    }
    .main_footer h3 {
        font-size: var(--font-size-bigger);
        margin-bottom: 0;
    }
    .main_footer p, .main_footer p a {
        font-size: var(--font-size-small);
    }
    .main_footer .dropdown-divider {
        margin: .3rem 0;
        width: 75%;
    }
    .main_footer .form-group input {
        font-size: var(--font-size-small);
        height: 1.5rem;
    }
    .main_footer .form-group input.btn {
        padding: .2rem.5rem;
    }
    .main_footer h5 {
        font-size: var(--font-size-normal);
    }
    .main_footer ul {
        display: flex;
        justify-content: space-between;
    }
    .main_footer li {
        display: inline-flex;
        margin: .7rem auto auto;
        font-size: 1.5rem;
    }

    .socket {
        font-size: var(--font-size-tiny);
    }


    /*=======+++++++=======+++++++=======  NEUMORPHIC FORM  =======+++++++=======+++++++=======*/
    .anime_form label {
        font-size: var(--font-size-small);
    }
    .anime_form label.error {
        font-size: var(--font-size-tiny);
    }
    .anime_form input,
    .anime_form textarea {
        font-size: var(--font-size-tiny);
    }
    .anime_form input,
    .anime_form span {
        font-size: var(--font-size-tiny);
        padding: .5rem;
    }
    .anime_form .form-group {
        margin-bottom: .7rem;
    }

    /*=======+++++++=======  NEUMORPHIC BUTTON EFFECT  =======+++++++=======*/
    .morphic_btn {
        font-size: var(--font-size-small);
    }


    .modal .modal-header {
        padding: .5rem 1rem;
    }
    .modal .modal-title {
        font-size: var(--font-size-bigger);
    }
    .modal .modal-body h5 {
        font-size: var(--font-size-big);
    }
    .modal .modal-body p {
        font-size: var(--font-size-small);
        margin-bottom: 0;
    }
    .modal .modal-footer {
        padding: .5rem 1rem;
    }
    .modal .modal-footer button {
        font-size: var(--font-size-small);
        margin-bottom: 0;
        height: 2rem;
    }
}



/*%%%%%%%%%%%%%%%%%%%%%  Large devices (desktops, less than 1200px)  %%%%%%%%%%%%%%%%%%%%%*/
@media (max-width: 1200px) {

}

/*Extra large devices (large desktops)
No media query since the extra-large breakpoint has no upper bound on its width*/
