/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .water{
        width:300px;
        height: 300px;
        top: calc(50vh - 150px);
        left: calc(50vw - 150px);
    }
    .water:before, .water:after{
        width:300px;
        height: 300px;
    }

    section.nav_body {
        padding: .7rem .7rem .7rem .7rem;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}







/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 320px) {
    .header_search {
        width: 70%;
    }
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body.nav_body {
        padding: 1rem 1rem 0;
    }

    /*+++++++++++++++++++++   HEADER   +++++++++++++++++++++*/
    .header{
        padding: 0 1rem;
    }
    .header_container {
        height: var(--header-height);
    }
    .header_logo {
        display: none;
    }
    .header_image img {
        width: 35px;
        height: 35px;
        order: 0;
    }
    .header_search {
        padding: .2rem .7rem;
        width: 200px;
    }
    .header_toggle {
        display: block;
    }

    /*+++++++++++++++++++++   SIDENAV   +++++++++++++++++++++*/
    #sidebar {
        width: var(--nav-width);
        left: -100%;
        padding: 1rem 1rem 3rem;
    }
    .nav_logo {
        display: block;
        justify-content: center;
    }
    .nav_items {
        row-gap: 1.5rem;
    }
    .nav_icon {
        font-size: 1.2rem;
    }
    .nav_logo_name,
    .nav_name,
    .nav_subtitle,
    .nav_dropdown_icon {
        opacity: 1;
    }

    /*+++++++++++++++++++++   SUBMENU   +++++++++++++++++++++*/
    /*+++++++++++++++++++++   COLLAPSE DROPDOWN   +++++++++++++++++++++*/
    /*+++++++++++++++++++++   COLLAPSE NAV   +++++++++++++++++++++*/
    .show_menu {
        left: 0!important;
    }

    /*+++++++++++++++++++++   ACTIVE LINK   +++++++++++++++++++++*/
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    :root {
        --normal-font-size: .938rem;
        --small-font-size: .75rem;
        --smaller-font-size: .75rem;
    }
}
